# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/
*.xcbkptlist
# Xcode workspace user data (within .xcodeproj)
*.xcodeproj/project.xcworkspace/

# SwiftPM
.build/
Package.resolved

# Firebase / secrets
**/GoogleService-Info.plist
